
html,
body,
#potato,
.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}


.movie {
    width: 50%;
    background-color: white;
    margin-top: 70px;
    margin-bottom: 70px;
    font-weight: 300;
    padding: 120px;
    border-radius: 5px;
    color: #adaeb9;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}